.el-input__wrapper {
  background-color: transparent !important;
  box-shadow: none !important;
}

//  checkbox
.el-checkbox__input.is-checked {
  .el-checkbox__inner {
    background-color: var(--hd-theme-color) !important;
    border-color: var(--hd-theme-color) !important;
  }
  & + .el-checkbox__label {
    color: var(--hd-theme-color) !important;
  }
}
.el-checkbox__label:hover {
  color: var(--hd-theme-color) !important;
}
.el-checkbox__inner:hover,
.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: var(--hd-theme-color) !important;
}

// button
.el-button {
  &.el-button--primary:not(.is-text) {
    background-color: var(--hd-theme-color) !important;
    border: var(--hd-theme-color) !important;
    border-color: transparent !important;
    color: #fff !important;
  }
  &.el-button--primary:not(.is-text):hover {
    background-color: var(--hd-theme-hover-color) !important;
    border-color: transparent !important;
    color: #fff !important;
  }
  &:focus {
    border-color: transparent !important;
    color: var(--hd-white) !important;
  }
}

// dialog
.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
  color: var(--hd-theme-color) !important;
}

.el-upload:focus {
  border-color: var(--hd-theme-color);
  color: var(--hd-theme-color);
}

.el-message-box {
  width: auto !important;
}

.el-popover.el-popper {
  min-width: 60px !important;
  padding: 0 !important;
}
